{
	"singleQuote": true,
	"printWidth": 110,
	"editor.formatOnSave": true,
	"proseWrap": "always",
	"requireConfig": false,
	"useTabs": true,
	"trailingComma": "none",
	"bracketSpacing": true,
	"semi": false,
	"bracketSameLine": true,
	"tabWidth": 2
}
